PORT=3000
NODE_ENV=development
APP_NAME=fss-dis-server-node
MONGO_URI=mongodb://root:root-password@mongo.infra.svc.cluster.local:27017/fss_dis?authSource=admin
REDIS_URL=redis://root:root-password@redis.infra.svc.cluster.local:6379/0
K8S_USER_NAMESPACE=dis
K8S_APP_NAMESPACE=app
LAB_GOVERNANCE_ENABLED=true
JUPYTER_IMAGE=10.111.111.72/dis/jupyter-teradata-extention:latest
JUPYTER_ACCESS_MODE=dynamic-route
JUPYTER_DYNAMIC_HOST_SUFFIX=service.jupyter.fss.or.kr
JUPYTER_DYNAMIC_SCHEME=https
JUPYTER_DYNAMIC_SUBDOMAIN=jupyter-named-pod
JUPYTER_TOKEN=platform123
JUPYTER_WORKSPACE_ROOT=/workspace/user-home
JUPYTER_BOOTSTRAP_DIR=/opt/platform/bootstrap-workspace
JUPYTER_USER_PVC_STORAGE_CLASS=
AUTH_TOKEN_TTL_SECONDS=28800
AUTH_SESSION_PREFIX=fss:auth:session:
CONTROL_PLANE_USERNAME=admin@test.com
CONTROL_PLANE_PASSWORD=123456
CORS_ORIGINS=http://localhost:9000
