[Unit]
Description=Refresh Calico CNI kubeconfig token
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/refresh-calico-cni-token.sh
User=root
Group=root
