PORT=3000
NODE_ENV=development
APP_NAME=fss-dis-server-node
BACKEND_BASE_PATH=/fss-dis-server
MONGO_URI=mongodb://root:root-password@mongo.infra.svc.cluster.local:27017/fss_dis?authSource=admin
REDIS_URL=redis://root:root-password@redis.infra.svc.cluster.local:6379/0
K8S_USER_NAMESPACE=dis
K8S_APP_NAMESPACE=app
LAB_GOVERNANCE_ENABLED=true
JUPYTER_IMAGE=192.168.56.32/app/jupyter:latest
JUPYTER_ACCESS_MODE=ingress-path
JUPYTER_DYNAMIC_HOST_SUFFIX=platform.local
JUPYTER_DYNAMIC_SCHEME=http
JUPYTER_DYNAMIC_SUBDOMAIN=jupyter-named-pod
JUPYTER_PUBLIC_BASE_URL=
JUPYTER_TOKEN=platform123
JUPYTER_WORKSPACE_ROOT=/workspace/user-home
JUPYTER_BOOTSTRAP_DIR=/opt/platform/bootstrap-workspace
JUPYTER_USER_PVC_STORAGE_CLASS=
JUPYTER_PERSONAL_PVC_NAME=
JUPYTER_PERSONAL_MOUNT_PATH=/personal
AUTH_TOKEN_TTL_SECONDS=28800
AUTH_SESSION_PREFIX=fss:auth:session:
JUPYTER_ROUTE_ACCESS_TTL_SECONDS=28800
JUPYTER_ROUTE_ACCESS_PREFIX=fss:jupyter:route:
JUPYTER_ROUTER_SHARED_SECRET=change-this-jupyter-router-secret
CONTROL_PLANE_USERNAME=admin@test.com
CONTROL_PLANE_PASSWORD=123456
CORS_ORIGINS=http://localhost:9000,http://192.168.56.240,http://platform.local
FRONTEND_URL=http://platform.local
